#postForm {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  #postText {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
  }
  
  #postImage {
    margin-bottom: 10px;
  }
  
  #timeline {
    margin-top: 20px;
  }
  
  .post-content img {
    max-width: 100%;
    height: auto;
    max-height: 400px; /* Definindo uma altura máxima para a imagem */
  }

  .container {
    margin: 100px;
  }