* {
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  /* margin-bottom: 16px; */
}

main{
  background-color: blueviolet;
  color: white;
  padding-top: 16px;
  width: 700px;
  margin: auto;
}

section{
  display: flex;
  
}

div{
  display: flex;
  background-color: orange;
  margin: 300px;
  width: 200px;
  padding: 10px;
  align-items:baseline;
}

nav {
  /* background-color: #EF7D19; */
}

ul {
  display: flex;
  height: 100%;
  align-items: center;
}

nav ul li {
  padding-left: 16px;
  list-style-type: none;
}