h1 {
    background-color: blue;
    color: #ffffff
}

div {
    text-align: center;
    background-color: green;
    color: red;
}

#ultima-caixa {
    background-color: aquamarine;
    margin: 25px;
    padding: 20px;
}