h1 {
    color: blue
    background-color: #a2a2ca;
}

div {
    /* text-align: center; */
    background-color: lightgray;
    /* color: red; */
}

p {
    background-color: rgb(20, 200, 80);
}

/* div a {
    text-decoration: none;
} */

/* #ultima-caixa {
    background-color: aquamarine;
    margin: 25px;
    padding: 20px;
} */